<section class="bg-white  py-8 antialiased h-screen md:py-16">
    <div class="  max-w-screen-xl px-4 2xl:px-0">
        <div class="mx-auto max-w-5xl">
            <h2 class="text-xl font-semibold text-gray-900  sm:text-2xl">
                <i (click)="back()" class="fa-solid fa-arrow-left"></i> Reserva</h2>

            <div class="mt-6 grid grid-cols-12">
                <div class="md:col-span-2 col-span-4">
                    <img class="w-40 rounded-md" src="https://plus.unsplash.com/premium_photo-1712736395906-dd23bfe7f3b2?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="md:col-span-8 col-span-8 px-4">
                    <h2 class="font-bold">Terraza lupita</h2>
                    <p>Sábado, 22 de marzo del 2025</p>
                </div>
            </div>

            <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12">
                <form action="#"
                    class="w-full rounded-lg border border-gray-300 bg-white p-4 shadow-sm border-gray-100  sm:p-6 lg:max-w-xl lg:p-8">
                    <div class="mb-6 grid grid-cols-2 gap-4">
                        <div class="col-span-2 sm:col-span-1">
                            <label for="full_name" class="mb-2 block text-sm font-medium text-gray-900 ">
                                Nombre (como en la tarjeta)* </label>
                            <input type="text" id="full_name"
                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 border-gray-600 bg-gray-100  placeholder:text-gray-400 focus:border-primary-500 focus:ring-primary-500"
                                placeholder="Luis Rojas" required />
                        </div>

                        <div class="col-span-2 sm:col-span-1">
                            <label for="full_name" class="mb-2 block text-sm font-medium text-gray-900 ">
                                Correo electrónico* </label>
                            <input type="text" id="full_name"
                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 border-gray-600 bg-gray-100  placeholder:text-gray-400 focus:border-primary-500 focus:ring-primary-500"
                                placeholder="micorreo@gmail.com" required />
                        </div>

                        <div class="col-span-2 sm:col-span-2">
                            <label for="card-number-input"
                                class="mb-2 block text-sm font-medium text-gray-900 "> Card number*
                            </label>
                            <input type="text" id="card-number-input"
                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pe-10 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500  border-gray-600 bg-gray-100  placeholder:text-gray-400 focus:border-primary-500 focus:ring-primary-500"
                                placeholder="xxxx-xxxx-xxxx-xxxx" pattern="^4[0-9]{12}(?:[0-9]{3})?$" required />
                        </div>

                         
                       
                    </div>

                    <button type="submit"
                        class="flex w-full items-center justify-center rounded-lg bg-gray-800 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300  hover:bg-primary-100 focus:ring-primary-800">
                        Pagar ahora
                    </button>
                </form>

                <div class="mt-6 grow sm:mt-8 lg:mt-0">
                    <div
                        class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 border-gray-100 ">
                        <div class="space-y-2">
                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 text-gray-400">Precio </dt>
                                <dd class="text-base font-medium text-gray-900 ">$2,592.00</dd>
                            </dl>

                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 text-gray-400">Reserva con</dt>
                                <dd class="text-base font-medium text-green-500">-$259.00</dd>
                            </dl>

                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 text-gray-400">A pagar en efectivo</dt>
                                <dd class="text-base font-medium text-gray-900 ">$2,333.00</dd>
                            </dl>

                            <!-- <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 text-gray-400">Tax</dt>
                                <dd class="text-base font-medium text-gray-900 ">$799</dd>
                            </dl> -->
                        </div>

                        <dl
                            class="flex items-center justify-between gap-4 border-t border-gray-300 pt-2 ">
                            <dt class="text-base font-bold text-gray-900 ">Reserva ahorita</dt>
                            <dd class="text-base font-bold text-gray-900 ">$259.00</dd>
                        </dl>
                    </div>

                    <div class="mt-6 flex items-center justify-center gap-8">
                        <!-- <img class="h-8 w-auto hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/paypal.svg" alt="" /> -->
                        <!-- <img class="hidden h-8 w-auto flex"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/paypal-dark.svg"
                            alt="" /> -->
                        <img class="h-8 w-auto hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/visa.svg" alt="" />
                        <img class="hidden h-8 w-auto flex"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/visa-dark.svg"
                            alt="" />
                        <img class="h-8 w-auto hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/mastercard.svg"
                            alt="" />
                        <img class="hidden h-8 w-auto flex"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/mastercard-dark.svg"
                            alt="" />
                    </div>
                </div>
            </div>

            <p class="mt-6 text-center text-gray-500 text-gray-400 sm:mt-8 lg:text-left">
                Pago procesado por <a href="https://stripe.com/mx/resources/more/secure-payment-systems-explained" title=""
                    class="font-medium text-primary-100 underline hover:no-underline text-primary-500">Stripe</a>
                <!-- para <a href="#" title=""
                    class="font-medium text-primary-100 underline hover:no-underline text-primary-500">UPoints
                    S:A de C.V</a> -->
                - México
            </p>

            <!-- <div class="max-w-screen-xl px-4 2xl:px-0">
                <div class="mx-auto max-w-5xl">
                    <h2 class="text-xl font-semibold text-gray-900  sm:text-2xl mt-16">Reserva</h2>
                    <h2>Agrega servicios</h2>
                    <p>Los mejores servicios de una.</p>
        
                    <button mat-button (click)="openDialog()">Open dialog</button>
        
                </div>
            </div> -->
        </div>
    </div>

 
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>