

.demo-inline-calendar-card {
    width: 100%;
}

::ng-deep .mat-calendar .mat-calendar-body-selected {
    background-color: #14532d !important;
    color: white !important;
 }

::ng-deep .mat-calendar .mat-calendar-body-selected:hover {
    background-color: #14532d !important;
}