<!-- 

<div class="relative max-w-sm">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
        </svg>
    </div>
    <input id="datepicker-autohide" datepicker datepicker-autohide type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Select date">
</div>

<form class="max-w-xs mx-auto">
    <label for="bedrooms-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona una cantidad:</label>
    <div class="relative flex items-center max-w-[11rem]">
        <button type="button" id="decrement-button" data-input-counter-decrement="bedrooms-input"
            class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 18 2">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h16" />
            </svg>
        </button>
        <input type="text" id="bedrooms-input" data-input-counter data-input-counter-min="1" data-input-counter-max="5"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border-x-0 border-gray-300 h-11 font-medium text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pb-6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="" value="3" required />
        <div
            class="absolute bottom-1 start-1/2 -translate-x-1/2 rtl:translate-x-1/2 flex items-center text-xs text-gray-400 space-x-1 rtl:space-x-reverse">
            <svg class="w-2.5 h-2.5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9" />
            </svg>
            <span>Personas</span>
        </div>
        <button type="button" id="increment-button" data-input-counter-increment="bedrooms-input"
            class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 1v16M1 9h16" />
            </svg>
        </button>
    </div>
    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Please select the number of
        bedrooms.</p>
</form> -->

<!-- <form class="max-w-xs mx-auto">
    <label for="quantity-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose
        quantity:</label>
    <div class="relative flex items-center max-w-[8rem]">
        <button type="button" id="decrement-button" data-input-counter-decrement="quantity-input"
            class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 18 2">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h16" />
            </svg>
        </button>
        <input type="text" id="quantity-input" data-input-counter data-input-counter-min="1" data-input-counter-max="50"
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="999" value="5" required />
        <button type="button" id="increment-button" data-input-counter-increment="quantity-input"
            class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 1v16M1 9h16" />
            </svg>
        </button>
    </div>
    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Please select a 5 digit number
        from 0 to 9.</p>
</form> -->
 
<div class="flex justify-center">
    <a href="/index">
        <img class="w-24 h-auto" src="https://i.ibb.co/GvgSkhRC/Dise-o-sin-t-tulo-2.png" alt="Logo">
    </a>
</div>



<app-search-input></app-search-input>




<!-- <div class="mx-auto mt-2 ml-4 md:ml-12">
<div class="flex gap-2 ">
    <div
    (click)="setType('terraice')"
        class="rounded-full bg-slate-800 py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
            Terrazas
    </div>

    <div
        (click)="setType('services')"
        class="rounded-full bg-gradient-to-tr from-slate-800 to-slate-700 py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
            Servicios
    </div>

</div>
</div> -->

 
 
<div class="grid grid-cols-12 gap-2 md:px-12" *ngIf="type == 'terraice' ">
    <div class="col-span-12 md:col-span-3" *ngFor="let terraice of terraices">
    <a href="/t/{{terraice.id}}" target="_blank" class="block rounded-lg p-4 shadow-xs shadow-indigo-100">
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm    ">

        <img alt=""
            [src]="terraice.images[0]"
            class="h-56 w-full rounded-md object-cover" />
    
         <div class="mt-2 p-4">
            <dl>
                <div>
                    <dt class="sr-only">Price</dt>
                    <dd class="text-sm text-gray-500">$ {{terraice.pricing }}</dd>
                </div>
                <div>
                    <dt class="sr-only">Address</dt>
                    <dd class="font-medium">{{terraice.name}}</dd>
                </div>
            </dl>
    
            <div class="mt-6 flex items-center gap-8 text-xs">
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Capacidad</p>
                        <p class="font-medium">{{ terraice.capacity }} personas</p>
                    </div>
                </div>
    
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Duración</p>
                        <p class="font-medium">{{ terraice.duration }} horas</p>
                    </div>
                </div>
    
                <!-- <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Bedroom</p>
                        <p class="font-medium">4 rooms</p>
                    </div>
                </div> -->
            </div>
        </div>
            </div>

    </a>
    </div>
</div>
<!-- 
<div  class="grid grid-cols-12 gap-2 md:px-12" *ngIf="type == 'services' ">
<div class="col-span-12 md:col-span-3" *ngFor="let terraza of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
    <div (click)="openDialog()" target="_blank" class="block rounded-lg p-4 shadow-xs shadow-indigo-100">
        <img alt=""
            src="https://scontent.fgdl3-1.fna.fbcdn.net/v/t45.5328-4/474924000_1139958507837474_4557353225845255110_n.jpg?stp=dst-jpg_p720x720_tt6&_nc_cat=111&ccb=1-7&_nc_sid=247b10&_nc_ohc=n6iKA59MOqEQ7kNvgENR5QE&_nc_oc=Adh0dKtyl26fKH0HZMt0Cq1EmTx2iH2r7AD7A8hD0KGvVoIpylafdGzkAyyTVF5WnZTK94LtDpGb4ubGne_GdOy0&_nc_zt=23&_nc_ht=scontent.fgdl3-1.fna&_nc_gid=Ak_3539HhoiVhumQ6F7omzb&oh=00_AYCnLdPcfbIf4rMmXAkKQU2cnajaX0TmrxowMGHel5Jazw&oe=67AB29AB"
            class="h-56 w-full rounded-md object-cover" />

        <div class="mt-2">
            <dl>
                <div>
                    <dt class="sr-only">Price</dt>
                    <dd class="text-sm text-gray-500">$2,000</dd>
                </div>
                <div>
                    <dt class="sr-only">Address</dt>
                    <dd class="font-medium">El SAZON DE LA ABUELA</dd>
                </div>
            </dl>

            <div class="mt-6 flex items-center gap-8 text-xs">
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Capacidad</p>
                        <p class="font-medium">30 personas</p>
                    </div>
                </div>

                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Duración</p>
                        <p class="font-medium">8 horas</p>
                    </div>
                </div>

                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <div class="mt-1.5 sm:mt-0">
                        <p class="text-gray-500">Bedroom</p>
                        <p class="font-medium">4 rooms</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->